@import '../styles/variables/Variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap');

@mixin flexEnd($v: flex-end, $h: center) {
    display: flex;
    align-items: $v;
    justify-content: $h;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1150px) {

    .app {
        width: 100%;
        background-color: $primaryColor;
        font-family: $primaryFont;
        color: $textColor1;
    }

    .intro {
        border-bottom: 5px solid $textColor2;
        @include flexEnd($v: center, $h: space-around);
        gap: 1rem;
        padding: 1rem 1rem;
    }

    .introLeftSide {
        width: 100%;
        @include flexEnd($v: flex-start, $h: center);
        flex-direction: column;
        gap: 1rem;
        .myName {
            font-size: 48px;
            font-weight: 500;
            color: $textColor2;
        }

        .jobProfile {
            font-size: 30px;
            font-weight: 500;
            color: #fffefe61;
            background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
            background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
            background-size: 70px 100%;
            -webkit-background-clip: text;
            background-clip: text;
            animation: flick 4s infinite;
            transition: all .3s;
        }

        @keyframes flick {
            0% {
                background-position: top left;
            }

            50% {
                background-position: top right;
            }

            100% {
                background-position: top left;
            }
        }

        .bio {
            font-size: 18px;
            font-weight: 500;
        }
    }

    .introMiddle {
        div{
            background-image: url('../images/profile_photo.jpg');
            background-size: 100% 100%;
            background-color: $textColor2;
            margin-left: 1rem;
            width: 180px;
            height: 220px;
            border: 3px solid $textColor1;
            border-radius: 5px;
            margin-right: 1rem;
        }
    }

    .introRightSide {
        @include flexEnd($v: flex-start, $h: center);
        flex-direction: column;
        gap: 2rem;
        border-left: 5px solid $textColor2;
        padding: 0 2rem;
        div {
            @include flexEnd($v: center, $h: center);
            gap: 1rem;

            .icon {
                width: 24px;
                height: 24px;
            }

            a {
                text-decoration: none;
                color: $textColor3;
            }
        }
    }
}

@media screen and (max-width: 1149px) {

    .app {
        width: 100%;
        background-color: $primaryColor;
        font-family: $primaryFont;
        color: $textColor1;
    }

    .intro {
        border-bottom: 5px solid $textColor2;
        @include flexEnd($v: center, $h: space-around);
        gap: 1rem;
        padding: 1rem 2rem;
    }

    .introLeftSide {
        width: 100%;
        @include flexEnd($v: flex-start, $h: center);
        flex-direction: column;
        gap: 1rem;
        .myName {
            font-size: 48px;
            font-weight: 500;
            color: $textColor2;
        }

        .jobProfile {
            font-size: 36px;
            font-weight: 500;
            color: #fffefe61;
            background: -webkit-gradient(linear, left top, right top, from(#e6e6e6), to(#1d1c1c), color-stop(0.8, #ffffff)) no-repeat;
            background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.8, #fff)) no-repeat;
            background-size: 70px 100%;
            -webkit-background-clip: text;
            background-clip: text;
            animation: flick 4s infinite;
            transition: all .3s;
        }

        @keyframes flick {
            0% {
                background-position: top left;
            }

            50% {
                background-position: top right;
            }

            100% {
                background-position: top left;
            }
        }

        .bio {
            font-size: 20px;
            font-weight: 500;
        }
    }

    .introMiddle {
        div{
            background-image: url('../images/profile_photo.jpg');
            background-size: 100% 100%;
            background-color: $textColor2;
            margin-left: 1rem;
            width: 180px;
            height: 220px;
            border: 3px solid $textColor1;
            border-radius: 5px;
            margin-right: 1rem;
        }
    }

    .introRightSide {
        display: none;
    }
    // .introRightSide {
    //     @include flexEnd($v: flex-end, $h: center);
    //     flex-direction: column;
    //     width: 100%;
    //     gap: 2rem;

    //     div {
    //         @include flexEnd($v: center, $h: center);
    //         gap: 1rem;

    //         .icon {
    //             width: 24px;
    //             height: 24px;
    //         }

    //         a {
    //             text-decoration: none;
    //             color: $textColor2;
    //         }
    //     }
    // }
}