//Colors
$primaryColor: rgb(48, 48, 48);
$textColor1: rgb(212, 212, 212);
$textcolor2:rgb(57, 116, 185);
//Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;
$primaryFont: 'Nunito Sans', sans-serif;